.imgbanner
{
	width:50%;
}

@media screen and (max-width:1087px)
{
	.imgbanner
	{
		width:70%;
	}
}
@media(max-width: 767px) {
  .cust-col {
    flex-direction: column-reverse;
    display: flex;
  }
}


@media screen and (min-width:1087px)
{
	.column .card
	{
		height:550px;
	}
}

@media screen and (min-width:1280px)
{
	.column .card
	{
		height:575px;
	}
}

@media screen and (min-width:1472px)
{
	.column .card
	{
		height:625px;
	}
}

.footer.level
{
	background-color: #b5dfd6;
	padding: 1rem;
	margin:0;
}

.sticky
{
	display: flex;
	min-height: 100vh;
	flex-direction : column;
}

.wrapper
{
	flex:1 ;
}

.card a
{
	color:#b5dfd6;
}

.card figure
{
	margin-left: 0;
	margin-right: 0;
}
