.imgbanner
{
	width:25%;
}

@media screen and (max-width:1087px)
{
	.imgbanner
	{
		width:50%;
	}
}
@media(max-width: 767px) {
  .cust-col {
    flex-direction: column-reverse;
    display: flex;
  }
}

.footer.level
{
	background-color: #b5dfd6;
	padding: 1rem;
	margin:0;
}
